* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Titillium Web", Helvetica;
  }
 
  
  .card-containers {
    font-family: "Titillium Web", Helvetica;

    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 100px;
  }
  
  .cardi {
    background-color: #8170ec;
    position: relative; /* Added */
    width: 299px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #00000075;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.6s ease;
    height: auto;
    height: 340px;
  }
  
  .cardi:hover {
    transform: translateY(-20px);
  }
  
  .cardi:hover .card-content, .cardi:hover .cardi-button { /* Added */
    opacity: 1;
  }
  
  .card-content,
  .card-button {
    position: absolute; /* Added */
    bottom: 0; /* Added */
    left: 0; /* Added */
    width: 100%; /* Added */
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Added */
    color: #fff; /* Added */
    opacity: 0; /* Added */
    transition: opacity 0.3s ease; /* Added */
  }
  
  .card-content .event-title {
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Titillium Web", Helvetica;
  }
  
  
  .card-content p {
    font-size: 14px;
    color: #f1ecec;
    margin-bottom: 20px;
  }
  
  .card-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
  }
  .arrow-circle {
    display: inline-block;
    text-decoration: none;
  }
  
  .circle {
    width: 50px; /* Adjust size of circle */
    height: 50px; /* Adjust size of circle */
    border-radius: 50%; /* Makes it a circle */
    background-color: #3498db; /* Circle background color */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    color: #fff; /* Arrow color */
    font-size: 24px; /* Arrow size */
  }
  
  .cardi:hover h2 { /* Added */
    display: none;
  }
  .headings{
    align-self: center;
    position: absolute;
    padding: 30px;
    border-color: #474747bd;
    border-width: 01px;
    color: white;
    align-self: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
  }